---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install dependencies
  apt:
    name:
      - software-properties-common
      - unzip
      - curl
      - git
      - nginx
      - mariadb-client
      - mariadb-server
    state: present

- name: Ensure services are running
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - nginx
    - mariadb
